body,div,dl,dt,dd,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
html,body {margin:0;padding:0;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
input{border:1px solid #b0b0b0; padding:3px 5px 4px; color:#979797; width:190px;}
ol,ul {list-style:none;}

/* ........................ */
 
body
{
	
}



h6
{

}

/* ........................ */

#space
{
	width: 100%;
	height: 100%;
	margin-bottom: auto;
	margin-left: auto;
	text-align:center;
}

#sphare_base
{
	width: 80%;
	height: 80%;
	border: 2px solid black;
	position: absolute;
	margin: 5%;
	
}

#img_orbit
{
	width: 100%;
	height: 100%;
}

	
/* ........................ */



.sphare_test1
{
	color: #000000;
	font-size: 15px;
	top:15%;
	left:10%;
}

.sphare_test2
{
	color: #000000;
	font-size: 15px;
	top:30%;
	left:30%;
	
}

.sphare_test3
{

	color: #000000;
	font-size: 15px;
	top:45%;
	left:80%;
}
.sphare_test4
{

	color: #000000;
	font-size: 15px;
	top:60%;
	left:30%;
}
.sphare_test5
{

	color: #000000;
	font-size: 15px;
	top:85%;
	left:90%;
}	

#in_test1	
{
	color:#0000E0;
	font-size: 300%;
	position: absolute; 
	top: 4%;
	left: 58%;
	
}

#in_test2	
{
	color: #0000E0;
	font-size: 150%;
	text-align: center;
	position: absolute; 
	top: 78%;
	left: 39%;
	
}

#in_test3	
{
	color: #000000;
	font-size: 30px;
	text-align: center;
	position: absolute; 
	top: 40%;
	left: 58%;
	
}

#in_test4	
{
	color: #000000;
	font-size: 30px;
	text-align: center;
	position: absolute; 
	top: 20%;
	left: 36%;
	
}

#in_test5	
{
	color: #000000;
	font-size: 30px;
	text-align: center;
	position: absolute; 
	top: 48%;
	left: 8%;
	
}